.table {
  border: 1px solid black;
  width: 1000px;
  height: 750px;
  margin: auto;
  margin-top: 10px;
}

.check-box {
  margin: 5px;
}
.new-note {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.5px solid grey;
}
.link {
  text-decoration: none;
  color: #3399ff;
}
.tag-container {
  display: flex;
  align-items: center;
  color: grey;
}
.tag-icon {
  color: grey;
  width: 10px;
}
@media (max-width: 500px) {
  .table {
    width: 500px;
  }
}
